<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/navs.ejs') %>
    <div class="registrations content">
      <h2>All Registrations</h2>
      <% if ( registrations.length > 0 ) {%>
      <%registrations.forEach(registration => {%>
      <h3 class="title"><%=registration.lastName%></h3>
      <p class="snippet"><%=registration.firstName%></p>
      <p class="snippet"><%=registration.idNo%></p>
      <p class="snippet"><%=registration.rank%></p>
      <p class="snippet"><%=registration.regimentNo%></p>

      <% }); %> <%}%>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
